<% if current_user.phase1 ==true%>

 <!-- <p> <h1>Unapproved application</h1> count = <%= @phases.where(:phase1 => false).count %></p>  -->

<div class="shadow-lg p-3 mb-5 bg-black rounded">
    <div class="panel panel-default">
      <div class="panel-heading" >
        <h2 class="text-center"><b>Unapproved Application</b></h2>
      </div>
      <div class="panel-body">
        <table id="table_id" class="table table-striped  table-hover table-bordered">
          <thead >
          <tr>
      <th>Name</th>
      <th>EMP_ID</th>
      <th>Department</th>
      <th>Applicant Type</th>
      <th>show</th>
      <th>Approve</th>
      <th>Disapprove</th>
      </tr>
  </thead>
<tbody >
<% @phases.each do |phase| %>
 <% if phase.disapprove == false %>
  <% if phase.phase1 == false %>

   <tr>
       <td ><%= phase.name %></td>
        <td ><%= phase.unique_id %></td>
       <td ><%= phase.department %></td>
       <td><%= phase.type_applicant%></td>
       <td ><%= link_to "Show", show_user_path(phase.id), method: :get,class:"btn btn-primary btn-sm" %></td>
       <td><button type="button" class="btn btn-warning btn-md" data-toggle="modal" style="margin:10px;"  onclick="sticker_allotment(<%= phase.id%>);" data-disable-with="Validating ...">Approve</button></td>
        <!-- <td ><%= link_to "Approve", approve_path(phase), method: :post,class:"btn btn-primary btn-sm" %></td>
         --> <td ><%= link_to "Disapprovep", disapprove_path(phase), method: :post,class:"btn btn-primary btn-sm" %></td>
         
         
       
   </tr>
     <% end %>
  <% end %>

<% end %>
</tbody>
</table>
<% if current_user %>
    <%= link_to "signout" , destroy_user_session_path ,method:     :delete  %>
    <%= link_to 'change password' , edit_user_registration_path %>
<% end %>

<!-- <center>
    <button type="button" class="btn btn-warning btn-md" data-toggle="modal" style="margin:10px;"  onclick="sticker_allotment(64);" data-disable-with="Validating ...">Submit</button>
</center>
 -->
 
<% else %>
    <%= render "devise/sessions#new" %>
<%end %>
</div>
 </div>
 </div>


 <!--  for remark -->

<div class="modal fade" id="myModal1" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content"><div class="modal-body" id="modal_response1">
    </div>
    </div>
  </div>
</div>
<script>
    function sticker_allotment(id){
        $.ajax({
            type: "PATCH",
            url: "/generate/remark/"+id,
            dataType: "script",
            success: function(data) {
                console.log(data);
            }
        });
    }
</script>
<script >$(document).ready( function () {
    $('#table_id').DataTable();
} )</script>




